<div class="card text-center p-3 heart-monitor" [ngClass]="theme" style="height: auto;">
  <h5 class="card-header">Heart Monitor</h5>
  <div class="card-body">
    <div class="pulse">72 <span>❤️</span></div>

    <div class="wave" style="height: 222px;">
    </div>

    <div class="d-flex justify-content-between mt-3 text-start">
      <div>
        <strong>120</strong>/<small>80</small><br />
        <small>mmHg</small>
      </div>
      <div>
        <strong>98%</strong><br />
        <small>SpO₂</small>
      </div>
      <div>
        <strong>98.24°F</strong><br />
        <small>36.8°C</small>
      </div>
    </div>
  </div>
</div>
