<div class="card text-center" style="height: auto;">
  <h5 class="card-header">Patient Details</h5>
  <div class="card-body">
    <img src="../../../assets/profile-picture.jpg" style="height: 150px;" class="img-fluid rounded-circle mb-3" alt="Profile Picture" />
    <h6 class="card-title">Timothy Strzelecki</h6>
    <ul class="list-unstyled small text-muted mb-0">
      <li><strong>Age:</strong> 42</li>
      <li><strong>Weight:</strong> 180 lbs</li>
      <li><strong>Height:</strong> 5'11"</li>
      <li><strong>Blood Type:</strong> O+</li>
      <li><strong>Patient ID:</strong> 001256</li>
    </ul>
  </div>
</div>
