@import url('app/themes/darkmode.css');
/* You can add global styles to this file, and also import other style files */

.modal-content .dark {
  background-color: #1e2a38;
  color: #f8f9fa;
}

.modal-content .light {
  background-color: #ffffff;
  color: #212529;
}

.modal-content .dark .modal-header {
  border-bottom: 1px solid #3a3f44;
}

.modal-content .light .modal-header {
  border-bottom: 1px solid #dee2e6;
}

.modal-content .dark .btn-close {
  filter: invert(1);
}
